/*-----------------
    RESET
------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
}

/*-----------------
    GENERAL
------------------*/
.container {
  width: 60%;
  padding: 12px;
  margin: 0 auto;
}
.container-main {
  width: 60%;
  margin: 0 auto;
}

/*-----------------
    BUTTONS
------------------*/
.sign-up {
  display: inline-block;
  padding: 10px 20px;
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #0282f9;
}
.btn-load{
  display: inline-block;
  padding: 10px 60px;
  background-color: #0282f9;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #0282f9;
}
.btn-container{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.btn-series{
  display: inline-block;
  padding: 10px 60px;
  background-color: #0282f9;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #0282f9;
  position: relative;
  bottom: 35px;
  left: 0;
}
/*-----------------
    HOVER
------------------*/
.nav-header a:hover{
  color: #0282f9;
  transform: scale(1.25);
}
.nav-header li:hover{
  border-bottom: 5px solid #0282f9;
}
.container-block .block:hover{
  transform: scale(1.2);
}
.link-section a:hover{
  color: white;
  transform: scale(1.1);
}
.sign-up:hover{
   cursor: pointer;
   transform: scale(1.15)
}
.btn-load:hover{
  cursor: pointer;
   transform: scale(1.15)
}
.btn-series:hover{
  cursor: pointer;
   transform: scale(1.15)
}
.col:hover{
  cursor: pointer;
  transform: scale(1.18)
}
/*-----------------
    HEADER
------------------*/

.logo-img {
  width: 80px;
}
.nav-header ul {
  display: flex;
  gap: 20px;
}
.nav-header li {
  list-style: none;
  display: flex;
  align-items: center;
  min-height: 130px;
}
.nav-header a {
  text-decoration: none;
  color: dimgrey;
  font-weight: 600;
  display: inline-block;
}
.hero{
  background-image: url("/img/jumbotron.jpg");
  height: 45vh;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*-----------------
    MAIN
------------------*/

main {
  background-color: #1c1c1c;
  position: sticky;
  z-index: 10;
}
.content {
  padding: 60px 0;
}
.title {
  color: white;
}

/*-----------------
    PRODUCTS
------------------*/
.row{
  display: flex;
  flex-wrap: wrap;
}
.products .col{
  width: calc(100% / 6);
  margin-bottom: 65px;
}
.products .product-card{
  height: 100%;
}

/*-----------------
    PRODUCTS CARD
------------------*/
.col p{
  color: white;
  text-transform: uppercase;
}
.product-card{
  padding: 10px 22px 0 0;
  
}
.product-card img{
  max-width: 100%;
  height: 100%;
}

/*-----------------
    FOOTER
------------------*/

footer {
  background-color: #0282f9;
}
.container-footer {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 35vh;
}
.container-block {
  padding: 35px 0;
  display: flex;
  gap: 35px;
}
.container-block .block a{
  display: inline-block;
}
.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.block img {
  width: 45px;
}
.second-ul{
  display: block;
}


/*-----------------
    MAIN FOOTER
------------------*/

.container-main-footer {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  height: 45vh;
}
/* FIRST UL */
.link-section {
  padding: 40px 0;
  margin-right: 35px;
}
.link-section h3 {
  color: white;
  margin-bottom: 12px;
}
.link-section ul {
  list-style: none;
  line-height: 1.4;
}
.link-section a {
  text-decoration: none;
  color: grey;
  display: inline-block;
}
.big-logo{
  position: relative;
  bottom: 55px;
  left: 20px;
  height: 60vh;
}


/*-----------------
   LAST FOOTER
------------------*/

.last-footer{
  background-color: #303030;
  padding: 25px 0;
  position: relative;
  z-index: 10;
}
.container-last-footer{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.right-footer h3{
  color: #0282f9;
}
.right-footer{
  display: flex;
  align-items: center;
  gap: 10px;
}
.img-last-footer img{
  margin-right: 10px;
}